div.pageWrapper {
  background :  #608591;
  width: auto;
  height: 1700px;
}


h1{
  text-align: center;
  font-style: black;
    font-family: 'Merriweather', sans-serif;;
    font-size: 28px;
}


h2{
  margin-left: 10px;
  text-indent: auto;
  text-overflow: ellipsis;
}

h3{
  margin-left: 10px;
  text-indent: 30px;
  text-overflow: ellipsis;

}

h4{
    margin-left: 10px;
    text-indent : 50px;
    text-overflow: ellipsis;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

div.header {

  padding-top: 10px;
  background  : linear-gradient(to bottom right, #57595C,#F0C2CA);
  color:  white;
  height : 150px;
  text-align: center;

}

div.education{

  width: 50%;
  height: 375px;
  background: #921060;
  float: left;
  color: white;

}

div.experience{
  width: 50%;
  height: 375px;

  background: #921110;
  float: right;
  color: white;
}

div.language{
  width: 50%;
  height: 450px;

  background: #921110;
  float: left;
  color: white;
}

div.project{
  width: 50%;
  height: 450px;

  background: #856091;
  float: right;
  color: white;
}

div.leadership{
  width: 50%;
  height: 500px;

  background: #921110;
  float: right;
  color: white;
}

div.achievements{
  width: 50%;
  height: 500px;

  background: #921110;
  float: right;
  color: white;
}

div.footer {
  width: 100%;
  height: 100px;

  text-align: center;
  background: #3783ed;
  color: white;
}


img{
  vertical-align: text-top;
  margin: 0px 0px 15px 15px;
  display: block;
  transform-origin: center;
  border-radius: 50px;
  border : solid  3px black;
  float: left;
}

ul
{
  list-style-type: none;
  background-color: #3399ff;
  margin: 0;
}


li a{
  float: left;
  display: block;
  height: 30px;
  width: 60px;
  color: #000;
  background-color: #dddddd;
  padding: 11px 20px;
}

li{
  text-align: center;

}

.active{
  background-color: #4CAF50;
  color: white;
}
